/*@import '~antd/dist/antd.css';*/
@import url('https://fonts.googleapis.com/css?family=Arvo|Poppins:500&display=swap');

*{
	box-sizing: border-box;
}
.App {
  min-height:100vh;
  width: 100vw;
}

.nav_Text {
	font-size: 20px;
	font-family: Poppins;
}

.header {
	font-family: Poppins;
	display: block;
	padding: 15px;
	height: auto;
	color: black;
	font-size: 40px;
	background-color: white;
}

.content-style {
	margin: 24px 16px 0;
	padding: 24px;
}

.card-header, .card-header h3 {
	font-family: Poppins;
	font-size: 30px;
	color: red;
}

.contact-card {
	font-family: Poppins;
	font-size: 25px;
}

.links {
	color: green;
}

.email-bg {
	background-image: url('./Images/email.png');
	background-position: center;
	background-size: cover;
	background-repeat: none;
}

.toggle-theme {
	margin-top: 20px;
	margin-bottom: 20px;
}

.home-content {
	padding: 24px;
	/*height: 50vh;*/
	font-family: Poppins;
	font-size: 18px;
	background: rgba(202, 211, 200,1.0);
}

.about-content {
	padding: 24px;
	font-family: Poppins;
	font-size: 18px;
	background: rgba(202, 211, 200,1.0);
}

.sfu-img {
	height: 120vh;
	width: 100%;
	object-fit: cover;
	background-position: center;
	background-size: cover;
	background-repeat: none;
}

.my-img {
	height: 60vh;
	/*width: 30vw;*/
	margin: auto;
	object-fit: cover;
	background-position: center;
	background-size: cover;
	background-repeat: none;
}

.sider {
	z-index: 99;
}


.pcp-img{
	/*height: auto;*/
	width: 100%;
	background-image: url("./Images/pcp.png");
	/*background-position: center;*/
	background-size: cover;
	background-repeat: none;
}

.kernel-img{
	/*height: auto;*/
	width: 100%;
	background-image: url("./Images/kernel.png");
	background-position: center;
	background-size: cover;
	background-repeat: none;
}

.shell-img{
	/*height: auto;*/
	width: 100%;
	background-image: url("./Images/shell.png");
	/*background-position: center;*/
	background-size: cover;
	background-repeat: none;
}

.mm-img{
	/*height: auto;*/
	width: 100%;
	background-image: url("./Images/mm.jpg");
	/*background-position: center;*/
	background-size: cover;
	background-repeat: none;
}

.ee-img{
	/*height: auto;*/
	width: 100%;
	background-image: url("./Images/ee.png");
	/*background-position: center;*/
	background-size: cover;
	background-repeat: none;
}

.ep-img{
	/*height: auto;*/
	width: 100%;
	background-image: url("./Images/ep.jpg");
	background-position: right;
	background-size: cover;
	background-repeat: none;
}

.ip-img{
	/*height: auto;*/
	width: 100%;
	background-image: url("./Images/ip.png");
	background-position: center;
	background-size: cover;
	background-repeat: none;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

@media (max-width: 600px) {
  /*.flex-item {
    flex: 100%;
    max-width: 100%;
    flex-direction: column;
  }*/
  .flex-container {
  	/*display: block;*/
  	flex-direction: column;
  }

}

.flex-item {
	flex: 50%;
}