@import url('https://fonts.googleapis.com/css?family=Arvo|Poppins:500&display=swap');

*{
	box-sizing: border-box;
}

.App {
	min-height: 100vh;
}

.timeline {
	padding: 30px;
}

.top-btn {
	background-color: #FF0000;
	color: white;
	text-align: center;
	border-radius: 99px;
	font-size: 20px;
	width: auto;
}

.l{
	min-height: 87.8vh;
	width: auto;
}

.nav_Head {
	color: white;
	font-size: 20px;
	font-family: Poppins;
}

.nav_Text {
	font-size: 20px;
	font-family: Poppins;
}

.nav_Header {
	font-size: 21px;
	font-family: Poppins
}

.greeting {
	font-family: Poppins;
	display: block;
	padding: 15px;
	padding-top: 7px;
	padding-left: 0px;
	height: auto;
	color: red;
	font-size: 23px;
	background: rgba(202, 211, 200,1.0);
}

.header {
	font-family: Poppins;
	display: block;
	padding: 10px;
	height: auto;
	color: black;
	font-size: 23px;
	background-color: white;
}

.port-header {
	font-family: Poppins;
	display: block;
	padding: 5px;
	color: black;
	height: auto;
	font-size: 18px;
	background-color: white;
}

.card-header, .card-header h3 {
	align-items: center;
	font-family: Poppins;
	font-size: 23px;
	color: black;
	padding-left: 15px;
}

.contact-card {
	font-family: Poppins;
	font-size: 15px;
}

.toggle-theme {
	margin-top: 20px;
	margin-bottom: 15px;
}

.home-content {
	padding: 24px;
	font-family: Poppins;
	font-size: 18px;
	background: rgba(202, 211, 200,1.0);
}

.about-content {
	padding: 24px;
	font-family: Poppins;
	font-size: 16px;
	/*background: rgba(202, 211, 200,1.0);*/
	/*min-height:75vh;*/
}

.sfu-img {
	height: 120vh;
	width: 100%;
	margin: auto;
	object-fit: cover;
	background-position: center;
	background-size: cover;
	background-repeat: none;
}

.my-img {
	height: 60vh;
	margin: auto;
	object-fit: cover;
	background-position: center;
	background-size: cover;
	background-repeat: none;
}

.sider {
	z-index: 99;
}

.pcp-img{
	width: 100%;
	background-image: url("./Images/pcp.png");
	background-position: top;
	background-size: contain;
	background-repeat: no-repeat;
}

.kernel-img{
	width: 100%;
	background-image: url("./Images/kernel.png");
	background-position: top;
	background-size: contain;
	background-repeat: no-repeat;
}

.shell-img{
	width: 100%;
	background-image: url("./Images/shell.png");
	background-position: top;
	background-size: contain;
	background-repeat: no-repeat;
}

.mm-img{
	width: 100%;
	background-image: url("./Images/mm.jpg");
	background-size: cover;
	background-position: top;
	background-size: contain;
	background-repeat: no-repeat;
}

.ee-img{
	width: 100%;
	background-image: url("./Images/ee.png");
	background-size: fit;
	background-repeat: none;
}

.ep-img{
	height: auto;
	width: 100%;
	background-image: url("./Images/ep.png");
	background-position: top;
	background-size: contain;
	background-repeat: no-repeat;
}

.ip-img{
	width: 100%;
	background-image: url("./Images/ibp.png");
	background-position: top;
	background-size: contain;
	background-repeat: no-repeat;
}

.hc-img{
	background-image: url("./Images/hc.png");
	background-position: top;
	background-size: contain;
	background-repeat: no-repeat;
}

.cp-img{
	background-image: url("./Images/cp.png");
	/*background-size: contain;
	background-position: top;
	background-repeat: no-repeat;*/
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

@media (max-width: 600px) {
	.flex-container {
		flex-direction: column;
	}

	.my-img {
		width: 95%;
	}

	.sfu-img {
		height: 40vh;
	}

}

.flex-item {
	flex: 50%;
	height: 75vh;
}

/* Underline From Center */
.hvr-underline-from-center {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
}
.hvr-underline-from-center:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 51%;
	right: 51%;
	bottom: 0;
	background: red;
	height: 4px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
	left: 0;
	right: 0;
}

/* Float */
.hvr-float {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
	-webkit-transform: translateY(-8px);
	transform: translateY(-8px);
}


/* Grow */
.hvr-grow {
	display: block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/* Underline From Right */
.hvr-underline-from-right {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
}
.hvr-underline-from-right:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 100%;
	right: 0;
	bottom: 0;
	background: red;
	height: 10px;
	-webkit-transition-property: left;
	transition-property: left;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-underline-from-right:hover:before, .hvr-underline-from-right:focus:before, .hvr-underline-from-right:active:before {
	left: 0;
}

/* Pulse */
@-webkit-keyframes hvr-pulse {
	25% {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	}
	75% {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	}
}
@keyframes hvr-pulse {
	25% {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	}
	75% {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	}
}
.hvr-pulse {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
	-webkit-animation-name: hvr-pulse;
	animation-name: hvr-pulse;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
