@import url('https://fonts.googleapis.com/css?family=Arvo|Poppins:500&display=swap');

*{
	box-sizing: border-box;
}

.App {
	min-height: 100vh;
}


.top-btn {
	background-color: #FF0000;
	color: white;
	text-align: center;
	border-radius: 99px;
	font-size: 20px;
	width: auto;
}

.l{
	min-height: 87.8vh;
	width: auto;
}

.nav_Head {
	color: white;
	font-size: 20px;
	font-family: Poppins;
}

.nav_Text {
	font-size: 24px;
	font-family: Poppins;
}

.nav_Header {
	font-size: 22px;
	font-family: Poppins;
	color: white;
	margin-left: auto;
	margin-right: 0;
}

.greeting {
	font-family: Poppins;
	display: block;
	padding: 15px;
	padding-top: 7px;
	padding-left: 0px;
	height: auto;
	color: red;
	font-size: 23px;
	background: rgba(202, 211, 200,1.0);
}

.header {
	font-family: Poppins;
	display: block;
	padding: 10px;
	height: auto;
	color: black;
	font-size: 23px;
	background-color: white;
}

.about-header {
	font-family: Poppins;
	display: inline-block;
	color: black;
	font-size: 22px;
	background-color: white;
}

.card-header, .card-header h3 {
	align-items: center;
	font-family: Poppins;
	font-size: 23px;
	color: black;
	padding-left: 15px;
}

.contact-card {
	font-family: Poppins;
	font-size: 15px;
}

.toggle-theme {
	margin-top: 20px;
	margin-bottom: 15px;
}

.home-content {
	padding: 24px;
	font-family: Poppins;
	font-size: 18px;
	background: rgba(202, 211, 200,1.0);
}

.about-content {
	padding: 24px;
	font-family: Poppins;
	font-size: 16px;
}

.sfu-img {
	height: 100vh;
	width: 100%;
	margin: auto;
	object-fit: cover;
	background-position: center;
	background-size: cover;
	background-repeat: none;
}

.my-img {
	height: 60vh;
	margin: auto;
	object-fit: cover;
	background-position: center;
	background-size: cover;
	background-repeat: none;
}

.card-img {
	height: 20vh;
	width: 100%;
	box-sizing: border-box;
	/*margin: auto;*/
	object-fit: contain;
	/*background-position: center;*/
	background-size: cover;
	background-repeat: none;
}

.sider {
	z-index: 99;
}


@media (max-width: 600px) {
	.flex-container {
		flex-direction: column;
	}

	.my-img {
		width: 95%;
	}

	.sfu-img {
		height: 40vh;
	}

	.card-img {
		height: 300px;
	}

	.header {
		font-size: 15px;
	}
	

}


/* Float */
.hvr-float {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
	-webkit-transform: translateY(-8px);
	transform: translateY(-8px);
}


/* Grow */
.hvr-grow {
	display: block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/* Pulse */
@-webkit-keyframes hvr-pulse {
	25% {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	}
	75% {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	}
}
@keyframes hvr-pulse {
	25% {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	}
	75% {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	}
}
.hvr-pulse {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
	-webkit-animation-name: hvr-pulse;
	animation-name: hvr-pulse;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
